My workflow 7.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1fnHl4jK0JKiJT-A3fj_tTqY7TN-xv32-tY7QNmnh5kg",
          "mode": "list",
          "cachedResultName": "Untitled form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fnHl4jK0JKiJT-A3fj_tTqY7TN-xv32-tY7QNmnh5kg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1817717760,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fnHl4jK0JKiJT-A3fj_tTqY7TN-xv32-tY7QNmnh5kg/edit#gid=1817717760"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a5763333-80cf-455f-8a36-6cd919701ed7",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "iMTd4V6aNWnpPrcA",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fd0ec176-75ad-4101-b638-5f5813e9e447",
              "leftValue": "={{ $json.Reason }}",
              "rightValue": "Fever",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ba9f297c-57ca-4cb3-afbe-9b7417e73dfc",
              "leftValue": "={{ $json.Reason }}",
              "rightValue": "Headache",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "724772fb-cd29-4817-859e-af4af229f073",
              "leftValue": "={{ $json.Reason }}",
              "rightValue": "Medical Emergency",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "ae13a97a-9981-4c2b-95ba-6fdd7775f33f",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Student E mail\"] }}",
        "subject": "Leave request approved",
        "message": "=Hi {{ $json[\"Student Name\"] }} leave is approved",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        96
      ],
      "id": "f22eacc5-3d8c-4758-9743-2e42adb42d3d",
      "name": "Send a message",
      "webhookId": "466ef27f-2cbc-450d-b2ce-a34c7bb1042b",
      "credentials": {
        "gmailOAuth2": {
          "id": "DM36pCiy7DIPzoQ2",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1fnHl4jK0JKiJT-A3fj_tTqY7TN-xv32-tY7QNmnh5kg",
          "mode": "list",
          "cachedResultName": "Untitled form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fnHl4jK0JKiJT-A3fj_tTqY7TN-xv32-tY7QNmnh5kg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1817717760,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fnHl4jK0JKiJT-A3fj_tTqY7TN-xv32-tY7QNmnh5kg/edit#gid=1817717760"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Google Sheets Trigger').item.json.Timestamp }}",
            "status": "approved"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Student Name",
              "displayName": "Student Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Roll No",
              "displayName": "Roll No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Leave From Date",
              "displayName": "Leave From Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Leave to date",
              "displayName": "Leave to date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Student E mail",
              "displayName": "Student E mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        96
      ],
      "id": "1fea0ddc-6428-4746-9e5b-a2e6d079bb29",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRFbQSmRsmVJKZ9k",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json['Student E mail'] }}",
        "subject": "=Leave request status updated :Declined",
        "message": "=Your leave request has been evaluated and unfortunately cannot be approved at this time. Please contact your department head for more details.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        -96
      ],
      "id": "30b27424-521c-4817-8da0-8c5a98f9b892",
      "name": "Send a message1",
      "webhookId": "21a5e3fe-0774-4d21-a009-4adc255eda2e",
      "credentials": {
        "gmailOAuth2": {
          "id": "DM36pCiy7DIPzoQ2",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1fnHl4jK0JKiJT-A3fj_tTqY7TN-xv32-tY7QNmnh5kg",
          "mode": "list",
          "cachedResultName": "Untitled form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fnHl4jK0JKiJT-A3fj_tTqY7TN-xv32-tY7QNmnh5kg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1817717760,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fnHl4jK0JKiJT-A3fj_tTqY7TN-xv32-tY7QNmnh5kg/edit#gid=1817717760"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "rejected",
            "Timestamp": "={{ $('Google Sheets Trigger').item.json['Timestamp'] }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Student Name",
              "displayName": "Student Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Roll No",
              "displayName": "Roll No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Leave From Date",
              "displayName": "Leave From Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Leave to date",
              "displayName": "Leave to date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Student E mail",
              "displayName": "Student E mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -96
      ],
      "id": "96eb6d7a-24cd-48c7-812e-39610ee497fb",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRFbQSmRsmVJKZ9k",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4c651d83-9842-4df1-8953-2ccb76974b5e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61d3b678cf23b3ed10c929449fd67814d4d038e0324eefef62040ed6a5cd8279"
  },
  "id": "Q5pGyAxrqLcCSWqx",
  "tags": []
}